*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
html/economy-table92.html filter=lfs diff=lfs merge=lfs -text
html/education-table02.html filter=lfs diff=lfs merge=lfs -text
markdown/agriculture-table06.md filter=lfs diff=lfs merge=lfs -text
markdown/agriculture-table06_swap.md filter=lfs diff=lfs merge=lfs -text
markdown/economy-table102_swap.md filter=lfs diff=lfs merge=lfs -text
tables/agriculture-table06.xlsx filter=lfs diff=lfs merge=lfs -text
tables/agriculture-table06_swap.xlsx filter=lfs diff=lfs merge=lfs -text
tables/agriculture-table07.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table102_swap.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table131.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table15.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table17.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table24.xlsx filter=lfs diff=lfs merge=lfs -text
tables/economy-table92.xlsx filter=lfs diff=lfs merge=lfs -text
tables/education-table01.xlsx filter=lfs diff=lfs merge=lfs -text
tables/education-table02.xlsx filter=lfs diff=lfs merge=lfs -text
tables/education-table02_swap.xlsx filter=lfs diff=lfs merge=lfs -text
tables/environment-table14.xlsx filter=lfs diff=lfs merge=lfs -text
tables/food-table11.xlsx filter=lfs diff=lfs merge=lfs -text
tables/health-table46.xlsx filter=lfs diff=lfs merge=lfs -text
tables/military-table12.xlsx filter=lfs diff=lfs merge=lfs -text
tables/military-table20.xlsx filter=lfs diff=lfs merge=lfs -text
tables/science-table04.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table25.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table41.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table43.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table45.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table68.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table68_swap.xlsx filter=lfs diff=lfs merge=lfs -text
tables/society-table82.xlsx filter=lfs diff=lfs merge=lfs -text
